body {
  font-family: Roboto, sans-serif !important;
}

.trigger {
  padding: 0 24px !important;
  font-size: 18px !important;
  line-height: 64px !important;
  cursor: pointer !important;
  transition: color 0.3s !important;
}

.trigger:hover {
  color: #1890ff !important;
}

.logo{
  height: 32px !important; 
  margin: 16px !important;
  background: rgba(255, 255, 255, 0.3) !important;
}

.ant-layout {
  min-height: 100vh !important;
}

.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.sm-logo {
  display: none !important;
  transition: 0.3s !important;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block !important;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none !important;
}

.logo {
  background-color: #ffd333 !important;
  margin: 0 !important;
  height: 64px !important;
}

main {
  height: 85vh !important;
  overflow-y: scroll !important;
  background-color: transparent !important;
}

main::-webkit-scrollbar {
  width: 0px !important; 
}

.ant-menu-title-content {
  font-size: 16px !important;
}

.ant-layout-header h5 {
  line-height: 20px !important;
  font-size: 14px !important;
}

.ant-layout-header p {
  line-height: 20px !important;
  font-size: 13px !important;
}

.ant-layout-header div .badge {
  top: 16px !important;
  right: -6px !important;
}

.error {
  color: red;
  font-size: 12px;
}

/* Login Page */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #00ff00;
  background-image: url('../background1.jpg');
  background-position: center;
  background-size: cover;
}

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box h3 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.form-box p {
  font-size: .9em;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.form-box .react-icons {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.form-box .forgot {
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: center;
}

.form-box .forgot label input {
  margin-right: 3px;
}

.form-box .forgot a {
  color: #fff;
  text-decoration: none;
}

.form-box .forgot a:hover {
  text-decoration: underline;
}

.form-box button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.form-box .register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.form-box .register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.form-box .register p a:hover {
  text-decoration: underline;
}